*{
    margin: 0;
    padding:0;
}

/*=================================HEADER=====================================================*/
.one{
height: 100vh;
width: 90vw;
margin-left: 5vw;
border-bottom: 1px red solid;
}
nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width:100%;
}
ul{
    display: flex;
    align-items: center;
}
ul li{
    list-style: none;
    margin-right: 1.5rem;
}
ul li a{
    text-decoration: none;
}
#logo{
    height: 80px;
    width: 80px;
    align-self: center;
    margin-top: 15px;
    margin-left: 40px;
}
/*=========================================CONTENT=========================================*/
.two{
width: 90vw;
margin-left: 5vw;
}
.skill{
    height:60vh;
    border-bottom: 1px red solid;
position: inherit;
}
.skill h1{
    text-align: center;
    font-size: 5rem;
}
.btnn{
    display: grid;
    justify-content: center;
    width: 60%;
    margin-left: 20%;
   grid-template-columns: 1fr 1fr 1fr;
   column-gap: 60px;
   row-gap:40px ;
   margin-top:15%;
}
.project{
    height:60vh;
    border-bottom: 1px red solid;
}

.contact{
    height:60vh;
    border-bottom: 1px red solid;
}
